<p>
	<%= form.label :login %>
  <%= form.text_field :login %>
</p>

<p>
	<%= form.label :email %>
  <%= form.text_field :email %>
</p>

<p>
	<%= form.label :password %>
  <%= form.password_field :password %>
</p>

<p>
	<%= form.label :password_confirmation, "Confirm Password" %>
  <%= form.password_field :password_confirmation %>
</p>

<% if @user.api_is_enabled? %>
  <p>
    Your API Key:
    (<%= link_to 're-generate', api_keys_path, :method => :post %> | <%= link_to "disable", api_key_path, :method => :delete %>)
  </p>
  <p>
    <strong><%= @user.api_key %></strong>
  </p>
<% end %>
